p{
    font-size:200%;
}
.p1{
                background-color: red;
                color: green;
            }
            .p2{
                background-color: purple;
                color: white;
            }